<footer class="footer bg-gradient-dark">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <a class="navbar-brand pt-0" routerLinkActive="active" style="color: white;">
          <img src="http://186.71.211.14:1023/api/api_disfraces/imagenes/brand/El Disfraz.png" alt="" style="width: 50px; height: 50px;">
          El Disfraz
        </a>
         <a style="color: white;"> &copy; {{ test | date: "yyyy" }} Luis Toaquiza</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
      </ul>
    </div>
  </div>
</footer>
